.map {
  position: absolute;
  width: 1941px;
  height: 2075px;
  background-image: url("~@/assets/mxGoods/地球.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position-y: -1050px;
}

.layout {
  position: absolute;
  border: 1px dotted red;
  width: 100%;
  height: 100%;
}

.test {
  transform: translate(300px, 100px);
  width: 522px;
}
