.blur {
  filter: blur(5px);
  -webkit-filter: blur(5px);
  cursor: pointer;
}

.container {
  width: 100%;
  height: 100%;
  background-image: url("~@/assets/mxGoods/bj.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.map {
  position: absolute;
  width: 100%;
  height: 100%;
  .points {
    position: absolute;
    top: 50%;
    left: 50%;
  }
}

.layout {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 37px 40px 0px 43px;
}

.left {
  width: 546px;
  height: 100%;
}

.middle {
  width: 769px;
  height: 100%;
  position: relative;
}

.right {
  width: 522px;
  height: 100%;
}

.statistic,
.changeTrend,
.popularRoutes,
.scanCode,
.rankingImport,
.rankingExport,
.breathingLights {
  width: 100%;
  margin: 15px 0;
}

.statistic {
  height: 114px;
}

.changeTrend {
  height: 287px;
}

.area {
  width: 100%;
  height: 100%;
}

.popularRoutes {
  height: 279px;
}

.goodsTable {
  padding-top: 18px;
  width: 100%;
  height: 100%;
}

.scanCode {
  margin-top: 50px;
  height: 177px;
}

.scan {
  margin-top: 12px;
  width: 100%;
  height: 100%;
}

.overview {
  position: absolute;
  top: 661px;
  left: 71px;
  width: 620px;
  height: 140px;
}

.rankingImport {
  height: 275px;
}

.rankingExport {
  margin-top: 65px;
  height: 275px;
}

.table {
  width: 100%;
  height: 100%;
}

.breathingLights {
  margin-top: 30px;
  padding: 0 8px 0 33px;
  height: 247px;
}

.popup {
  position: absolute;
  top: 0;
  left: 196px;
  width: 1528px;
  height: 100%;
}

.hidden {
  display: none;
}
