.tableHeader {
  border-bottom: 1px solid #2BA8EB;
  height       : 23px !important;
  line-height  : 23px !important;

  th {
    padding: 0;
  }
}

.row {
  font-size: 18px !important;
  height   : 40px !important;
  line-height: 40px !important;
}