.coverPageContainer {
  background-image : url("~@/assets/cebc/cbec_bg.png");
  background-repeat: no-repeat;
  background-size  : cover;
}

.cbecLayout {
  display     : flex;
  padding-top : 30px;
  padding-left: 56px;
  height      : 100%;

  .left {
    width: 872px;
  }

  .leftBottom {
    display: flex;
  }

  .right {
    width   : calc(100% - 928px);
    position: relative;
  }
}