.container {
  display: flex;
  box-sizing: border-box;
  height: 102px;
  flex-direction: column;
  justify-content: space-evenly;
  &:nth-child(2n + 1) {
    width: 47.7%;
  }
  &:nth-child(2n) {
    width: 52.3%;
  }
}

.label {
  padding-top: 16px;
  font-size: 18px;
  font-family: Source Han Sans CN;
  font-weight: 300;
  color: #fefefe;
}

.value {
  display: flex;
  align-items: baseline;
  color: #ffffff;
}

.number {
  font-size: 36px;
  font-weight: 400;
  margin-right: 15px;
  :global {
    .odometer-value {
      font-family: PangMenZhengDao-3 !important;
    }
    .odometer-digit-spacer {
      font-family: PangMenZhengDao-3 !important;
    }
  }
}

.suffix {
  font-size: 22px;
  font-family: PangMenZhengDao-3 !important;
  font-weight: 400;
}
