.moduleContainer {
  width : 400px;
  height: 260px;

  .moduleContainerHeader {
    font-family: Source Han Sans CN;
    position   : relative;

    .moduleContainerTitle {
      font-family  : PangMenZhengDao-3;
      font-size    : 20px;
      font-weight  : bold;
      color        : #FFFFFF;
      line-height  : 20px;
      margin-bottom: 10px;
    }

    .moduleContainerTitleEn {
      font-size  : 15px;
      font-weight: 400;
      color      : #1EC2FF;
      line-height: 15px;
    }

    .moduleContainerHeaderExtra {
      position: absolute;
      top     : 0;
    }

    .moduleContainerHeaderExtraLeft {
      left: 0px;
    }

    .moduleContainerHeaderExtraRight {
      right: 0px;
    }

    .moduleContainerHeaderExtraHidden {
      display: none;
    }
  }

  .moduleContainerHeaderLeft {
    text-align: left;
  }

  .moduleContainerHeaderRight {
    text-align: right;
  }

  .moduleContainerContent {
    height: calc(100% - 46px);
  }
}