.detailStatistics {
  width                : 100%;
  position             : absolute;
  bottom               : 10px;
  display              : grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows   : repeat(1, auto);
  grid-row-gap         : 40px;
}


.detailStatisticsItem {
  display    : flex;
  align-items: center;

  .icon {
    width : 40px;
    height: 40px;
  }

  .info {
    margin-left: 10px;

    .value {
      font-size  : 20px;
      font-family: PangMenZhengDao-3;
      font-weight: 400;
      color      : #FFFFFF;
    }

    .name {
      font-size  : 14px;
      font-family: Source Han Sans CN;
      font-weight: 400;
      color      : #E0FCFF;
      opacity    : 0.5;
    }
  }



}

.mainStatisticsItemGap {
  margin-right: 44px;
}