.tradeValue {
  width : 100%;
  height: 100%;

  .icon {
    width          : 37px;
    height         : 37px;
    border-radius  : 50%;
    display        : flex;
    justify-content: center;
    align-items    : center;

    .iconInner {
      width        : 20px;
      height       : 20px;
      border-radius: 50%;
    }
  }
}

.radialBar {
  width : 100%;
  height: 100%;
}

.radialBarLegend {
  padding: 10px 0px;
}

.radialBarLegendItem {
  justify-content: flex-end;
}

.groupedBarLayout {
  width   : 100%;
  height  : 100%;
  position: relative;

  .groupedBarLegend {
    position: absolute;
    height  : 15px;
    right   : 0;
    width   : 27%;
  }

  .groupedBar {
    width : 100%;
    height: 100%;
  }
}