.value {
  margin-top: 2.3125rem;
  .content {
    text-align: center;
    & em {
      display: inline-block;
    }
    .numberCard {
      font-family: PangMenZhengDao;
      font-size: 3.875rem;
      line-height: 1;
      color: #ffffff;
      margin-right: 0.625rem;
    }
    .cardBackground {
      background-color: #2ba8eb;
      padding: 0 0.5rem;
      line-height: 2.6875rem;
      font-weight: bold;
    }
  }
}
